* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;  
  text-decoration: none;    
}
html, body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
ul, ol, li a {
  list-style: none;
  cursor: pointer;
}
a {
  outline: none;
  cursor: pointer;
}
input {
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;
}
select,
button,
input,
input[type=email], 
input[type=text],
input[type=number],
input[type=text]   {
  outline:none;
} 
input::placeholder {
  text-transform: none;
}
input[type=email] {
  text-transform: none; 
}
button,
select {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
}
